<!DOCTYPE html>
<html>
  <head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
  </head>
  <body>

    <h2>Interest From</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Industry Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Contact No.</th>
      </tr>
    {%for item in object_list %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.industry_name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.contact_no }}</td>
      </tr>
    {% endfor %}
    </table>

  </body>
</html>